.page-block {
    input {
        border: 1px solid #d5d5d5 !important;
        border-radius: 4px !important;
    }

    .button {
        width: 100% !important;
        border-radius: 4px !important;
        height: 45px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        border: 0px !important;
        background: #709138 !important;
        color: #fff !important;
        text-transform: uppercase !important;
        cursor: pointer !important;
        transition-duration: 0.3s !important;

        &:hover {
            background: #092950 !important;
            color: #fff !important;
            transition-duration: 0.3s !important;
        }
    }
}

.form {

    form {
        position: relative !important;
    }

    label {
        color: #fff;
    }

    .gform_footer {
        position: absolute !important;
        bottom: 0px !important;
        right: 0px !important;
        margin: 0px !important;
        padding: 0px !important;
    }

    .gform_wrapper.gravity-theme .gform_footer button,
    .gform_wrapper.gravity-theme .gform_footer input,
    .gform_wrapper.gravity-theme .gform_page_footer button,
    .gform_wrapper.gravity-theme .gform_page_footer input {
        margin-bottom: 0px;
    }

    #field_1_1 {
        padding-right: 30px !important;
    }

    #input_1_1 {
        height: 54px !important;
    }

    #field_1_1 input {
        font-size: 24px !important;
        letter-spacing: 10px;
        text-transform: uppercase;
        font-weight: 700;
        padding-left: 15px !important;
    }

    .button {
        height: 54px !important;
        width: 95px !important;
        border-radius: 0px 4px 4px 0px !important;
    }

    .ginput_counter {
        display: none !important;
    }

    #field_1_6 input,
    #field_3_6 input,
    #field_4_6 input,
    #field_5_6 input,
    #field_6_6 input,
    #field_7_6 input,
    #field_8_6 input,
    #field_9_6 input,
    #field_10_6 input,
    #field_11_6 input,
    #field_12_6 input,
    #field_13_6 input {
        background: transparent !important;
        border: 2px solid transparent !important;
        border-bottom: 2px solid #859DB5 !important;
        color: #fff !important;

        &::placeholder {
            color: #fff !important;
            opacity: 1 !important;
            /* Firefox */
        }

        &::-ms-input-placeholder {
            /* Edge 12 -18 */
            color: #fff;
        }
    }

    label {
        display: none !important;

    }

    .gfield_label {
        display: none !important;
    }

    .gchoice {
        margin-top: 8px !important;
        margin-bottom: 10px !important;

        label {
            font-weight: 300 !important;
            margin-left: 5px !important;
            display: inline-block !important;

        }
    }
}

.formtwee {
    label {
        color: #fff;
    }

    input,
    select {
        background: transparent !important;
        border: 2px solid transparent !important;
        border-bottom: 2px solid #859DB5 !important;
        color: #fff !important;

        &::placeholder {
            color: #fff;
            opacity: 1;
            /* Firefox */
        }

        &::-ms-input-placeholder {
            /* Edge 12 -18 */
            color: #fff;
        }
    }

    input {
        padding-left: 12px !important;
    }
}

.gform_validation_errors {
    display: none !important;

}

.gfield {
    position: relative !important;
}

.gfield_validation_message {
    position: absolute !important;
    top: -2px !important;
    left: 0px !important;
}

.gform_wrapper.gravity-theme .gfield_validation_message,
.gform_wrapper.gravity-theme .validation_message {
    background: #fff9f900 !important;
    border: 0px solid #fff9f900 !important;
    font-size: 8px !important;
    margin-top: 0px !important;
    padding: 0px !important;
}

.gform_wrapper.gravity-theme .gfield_error .gfield_repeater_cell label,
.gform_wrapper.gravity-theme .gfield_error label,
.gform_wrapper.gravity-theme .gfield_error legend,
.gform_wrapper.gravity-theme .gfield_validation_message,
.gform_wrapper.gravity-theme .validation_message,
.gform_wrapper.gravity-theme [aria-invalid=true]+label,
.gform_wrapper.gravity-theme label+[aria-invalid=true] {
    color: #b8b8b8 !important;
}

#form {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 0 10px;
    height: 54px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 95px);

    input {
        margin: 0 3px;
        text-align: center;
        line-height: 26px;
        font-size: 16px;
        border: solid 1px #000 !important;
        outline: none;
        width: 100%;
        height: 30px;
        transition: all .2s ease-in-out;
        border-radius: 5px;


        text-transform: uppercase;
        font-weight: 500;

        @media (min-width: 768px) {
            font-size: 24px;
            height: 40px;
            font-weight: 700;
        }

        &:last-of-type {
            margin-right: 0;
        }

        &:first-of-type {
            margin-left: 0;
        }

        &:focus {
            border: solid 1px #709138 !important;
        }

        &::selection {
            background: transparent;
        }
    }
}

#validation_message_1_1,
#validation_message_3_1,
#validation_message_4_1,
#validation_message_5_1,
#validation_message_6_1,
#validation_message_7_1,
#validation_message_8_1,
#validation_message_9_1,
#validation_message_10_1,
#validation_message_11_1,
#validation_message_12_1,
#validation_message_13_1 {
    z-index: 1;
    top: 58px !important;
    left: 0px !important;
    font-size: 12px !important;
    line-height: 10px !important;
}

.gfield_visibility_hidden {
    display: none !important;
}